<%= stylesheet_link_tag "homepage.css" %>

<div id="main-banner">
  <div class="banner-content">
  </br></br></br></br>
    <h1>Get matched today.</h1>
    <h3>Beat the odds. Bet on love.</h3>
    <a href="/users/new"><button type="button" class="btn btn-primary">Join Now</button></a>
  </div>

</div>
