<div class="row">
  <div class="col-md-3">

  <span class="sidebar-header">My Profile</span>
  <a href="#"><img src="" alt="Profile Picture"></a>
  <span class="sidebar-link">Views count</span>
  <br>
  <!-- <span class="sidebar-header">Profile Power Ups</span>
  <span class="sidebar-link"><a href="#">Get 3x more views and emails</a></span>
  <br> -->
  <span class="sidebar-header">Matches</span>
  <span class="sidebar-link"><a href="#">Daily Matches</a></span>
  <span class="sidebar-link"><a href="#">Match Me</a></span>
  <br>
  <span class="sidebar-header">Messages</span>
  <span class="sidebar-link"><a href="/conversations">Inbox</a></span>
  <br>
  <span class="sidebar-header">Interests</span>
  <span class="sidebar-link"><a href="#">Viewed Me</a></span>
  <span class="sidebar-link"><a href="#">Winks</a></span>
  <span class="sidebar-link"><a href="#">Favorites</a></span>
  <span class="sidebar-link"><a href="#">Likes</a></span>
  <span class="sidebar-link"><a href="#">Phonebook</a></span>

  </div>

  <div class="col-md-5">
  <!-- main content -->
  </div>

  <div class="col-md-4">
  <!-- chatbox -->
  </div>

</div>
