<div class="col-md-8">
  <div id="inbox">
    <h4>Your Inbox</h4>
    <%if @conversations.nil? %>
     <%= render @conversations %>
    <% else %>
      <p>Your inbox is empty!</p>
    <% end %>
  </div>
</div>
