// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar-header {
  font-size: 1.2em;
  display: block;
  background-color: #E9F1F7;
  color: #003366;
}

.sidebar-link {
  font-size: 0.8em;
  display: block;
}
